@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.font_roboto_condensed {
  font-family: "Roboto Condensed", sans-serif;
}
.font_roboto {
  font-family: "Roboto", sans-serif;
}
.font_oswald {
  font-family: "Oswald", sans-serif;
}

.primary {
  background-color: #ff6600;
}

.banner {
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
}

#root {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
